.checked {
    stroke: red;
    stroke-width: 3;
}

path, #legends {
    stroke: black;
}

path:hover {
    stroke-width: 3;
}

#gu_map path {
    fill: white;
}

/* 
#map path:hover {
    fill: orange;
} */
