#main_map .checked, #gu_map .checked {
    stroke: red;
    stroke-width: 3;
}

#main_map path, #gu_map path, #legends {
    stroke: black;
}

#main_map path:hover {
    stroke-width: 3;
}

#main_map, #gu_map {
    text-anchor: start;
    
}
