.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

#main_map, #gu_map {
    border: 1px solid black;
    float: left;
}

#name_box {
    float: left;
    margin: 10px;
}

#name_box h3 {
    display: inline;
}

#dong_label {
    margin: 0 0 10px 0;
    float: left;
}

h3 {
    margin: 0;
}

#chart {
    clear: left;
}