.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

h3 {
    margin: 0;
}

#side {
    border-right: solid 3px black;
    float: left;
}

#chart {
    border-top: solid 3px black;
    border-bottom: solid 3px black;
    margin-top: 10px;
    padding-bottom: 10px;
}

#gu_map {
    width: fit-content;
    border: 1px solid black;
}

#label {
    float: left;
    margin: 10px 5px 0 0;
}

#label h3 {
    display: inline;
}

#label input {
    width: 200px;
}

#gender_box {
    float: left;
}

#content {
    margin-left: 10px;
    float: left;
}

#main_map {
    border: 1px solid black;
}

#legends {
    margin: 10px;
    width: fit-content;
    height: fit-content;
}